 <div class="container">
  	<h3> <span><%= t "conversations.reply" %></span>:</h3>
  	<br/>
  		<%= form_tag reply_conversation_path(conversation), method: :post do %>
  		<div class="form-group">
   		 <%= text_area_tag 'body', nil, cols: 2, class: "materialize-textarea", placeholder: 'Type your message here!', required: true, style: "width: 60%;"%>
  		</div>
  	<%= submit_tag(t("conversations.send"), class: 'btn btn-primary') %>
	<% end %>
</div>
