<%= current_user.points %>

  <div style="padding-bottom: 30%;">

<% list = [1, 5, 10, 20, 50, 100] %>
<%= link_to "Улучшить("+list[params[:purchase].to_i].to_s+"поинтов)", :controller => "users", :action => "buy", :id => params[:id], :a => list[params[:purchase].to_i]%> 


</div>