/*
*= require_tree .
*= require_self
*/

@import "materialize";
@import "materialize/extras/nouislider";


html, body {
            display: flex;
    min-height: 100vh;
    flex-direction: column;
	font-family: 'Raleway', sans-serif;
	background-image: image-url("sumiesamurai.jpg");
	background-attachment: fixed;
        
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover; 
}


.wrogcenter {
    position: absolute;
    left: 37%;
    top: 65%;
    width: 100%;
    }


.teamcircular {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(http://link-to-your/image.jpg) no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	}


.cell {
  ul {list-style: none;padding: 0px;margin: 0px;}
  ul li {display: block;position: relative;float: left;}
  li ul {display: none;}
  ul li a {display: block;background: #000;padding: 5px 10px 5px 10px;text-decoration: none;
           white-space: nowrap;color: #fff;}
  ul li a:hover {background: #248f8f;}
  li:hover ul {display: block; position: absolute;}
  li:hover li {float: none;}
  li:hover a {background: #248f8f;}
  li:hover li a:hover {background: #000;}
  #drop-nav li ul li {border-top: 0px;}
}

.btn {
    font-color: white;
}

.messagetag{
    height: 100px;
}

#notify {
	padding-left: 10%;
	p {
		padding-left: 10%;
	}
}


.site-footer, .page-wrap:after { 
height: 72px; 
} 
.site-footer { 
background: #1a1a1a; 
}

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
  color: #999;
}

.tags li {
  float: left; 
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: crimson;
  color: white;
}

.tag:hover::after {
   border-left-color: crimson; 
}



.leaderboardposition {

 position: fixed;
    left: 74%;
    top: 40%;
    width: 100%;

}

.leaderboard {
  left: 24%; 
  width: 18%;
  padding: 1em 3em;
  box-shadow: 0 1px 30px rgba(0,0,0,.4);
  display: block;
  background-color: #fff;
  border-radius: 4px;
  transition: 400ms ease;

 }

.center {
    position: absolute;
    left: 24%;
    top: 10%;
    width: 100%;

    i {
       position: absolute;
    left: 0%;
    bottom: 97%;
    width: 100%;

    }
    
}

.kani {

	    position: absolute;
    left: 55%;
    top: 315px;
    width: 100%;

}


.kanisoc {

           position: absolute; 
    left: 55%;
    top: 160px;
    width: 100%;

}

.kani2 {
      i {
	    position: absolute;
     
    top: 65%;
  
  }
}


.kani3 {

	    position: absolute;
    left: 55%;
    top: 1100px;
    width: 100%;

}


.togo {


    position: absolute;
    left: 55%;
    top: 30%;
    width: 100%;
 
}


.togo1 {


    position: absolute;
    left: 74%;
    top: 23%;
    width: 100%;
 
}



.leaderboardcircular {
	width: 10px;
	height: 10px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(http://link-to-your/image.jpg) no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);


	}

.circular {
	width: 70px;
	height: 70px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(http://link-to-your/image.jpg) no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	}


ul#menu {
    padding: 0;
}

ul#menu li {
    display: inline;
}

ul#menu li a {
   
    
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

.pagination a li.active {
  background-color: #333333;
}


.icons {
   padding-top: 1em;
}

.thecard {
  
  padding: 1em 3em;
  box-shadow: 0 1px 30px rgba(0,0,0,.4);
  display: block;
  background-color: #fff;
  border-radius: 4px;
  transition: 400ms ease;
}


.collection {
		padding: 3em;
		border-bottom: 1px solid #d6dce0;



		.title {
			margin: 0;
			a {
				font-weight: 500;
				text-decoration: none;
				color: #2a2f35;
				font-size: 1.5em;
				&:hover {
					color: #33acb7;
				}
			}
		}



		
		.date_and_author {
			color: #9eafba;
			margin: .5em 0 0 0;
		}
	}



.nav-wrapper {
    @extend .black, .lighten-4;
  }

  .page-footer {
    @extend .black, .lighten-4;
  }

 .footer-copyright {
    @extend .black, .lighten-1;
  }

.card {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.card:hover {
    box-shadow: 0 0 8px crimson;
}

 .card {
    padding: 3em;
 	width: 600px;
    background-color: white;
    box-shadow: 0 0 8px black;


 }

   .tests {
   
 	width: 600px;
    background-color: white;
    box-shadow: 0 0 8px black;
   

 }



	#post_content {
		padding: 1em 3em;
		.title {
			font-weight: 500;
			text-decoration: none;
			color: #2a2f35;
			font-size: 2.5em;
			margin-bottom: 10px;
		}
		.body {
			font-size: 1.4em;
			line-height: 1.75;
		}

		.views{
        
            padding-top: 10px;

		}
       
     

		.date_and_author {
			color: #9eafba;
			margin: .5em 0 2em 0;
		}

        
		#comments {
			h2 {
				margin: 3em 0 1em 0;
				border-bottom: 6px solid #ff6666;
				padding-bottom: 0.5em;
			}
			h3 {
				margin-top: 2em;
			}
			.comment {
				
				padding: 1.5em 2em;
				.clear_both {
					clear: both;
				}
				&:after {
					clear: both;
				}
				.comment_content {
					float: left;
					.comment_name {
						margin: 1em 0 0 0;
						font-size: 0.7em;
						text-transform: uppercase;
					}
					.comment_body {
						font-size: 1.2em;
						margin: 0.2em 0 0 0;
					}
					.comment_time {
						margin-top: 1.2em;
						font-size: .8em;
					}
				}
				.button {
					float: right;
				}
			}
			input[type="text"], textarea {
				width: 50%;
			}
		}
	}

#page_wrapper {
		padding: 3em;
		#profile_image {
			width: 300px;
			float: left;
			margin-right: 2em;
			img {
				width: 100%;
				border-radius: 0.35em;
			}
		}
		#content {
			h1 {
				font-weight: 500;
			}
			p {
				font-size: 1.1em;
				line-height: 1.75;
			}
			a {
				color: #33acb7;
				font-weight: 700;
				text-decoration: none;
			}
		}
	}


	 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }


